## Flight Price Predication EDA and Feature Engineering 
![](https://wallup.net/wp-content/uploads/2019/09/344761-boeing-747-airliner-aircraft-plane-airplane-boeing-747-transport-36-2.jpg)

### 1) About the Dataset
    The objective of the study is to analyse the flight booking dataset obtained from “Ease My Trip” website and to conduct
    various statistical hypothesis tests in order to get meaningful information from it.Easemytrip' is an internet platform
    for booking flight tickets, and hence a platform that potential passengers use to buy tickets. A thorough study of the
    data will aid in the discovery of valuable insights that will be of enormous value to passengers.

### 2) Data Collection 
   We Collected the data from kaggle :- https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction

### 3) Info about the dataset
    The Dataset contains information about flight booking options from the website Easemytrip for travel between India's 6 metro cities. There are 10683 datapoints and 11 feature 

### 3) Feature :- Let's Explore some feature in our dataset
* 1) **Airline :-** The name of airline company stored in Airline columns.
* 2) **Date_of_Journey :-** Date of the Journey.
* 3) **Source :-** Source City where Flight Take Off.
* 4) **Destination :-** The City Where Flight will be Arrival.
* 5) **Route :-** The Flight Rought.
* 6) **Dep_Time :-** The Departure Time of the Flight. 
* 7) **Arrival_Time :-** The Arrival Time of the Flight.
* 8) **Duration :-** A time which has been taken to Department time to Arrival Time of flight.
* 9) **Total_Stops :-** Total Stops of flight between Source and Destination location. 
* 10) **Additional_info :-** If there is any additional info avaliable.
* 11) **Price :-** Target Variable store information about Ticket Price

#### Importing the Standard Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
import scipy.stats as sts
import warnings
warnings.filterwarnings('ignore')

#### Loading the datasets

In [5]:
df = pd.read_excel("flight_data.xlsx")
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

#### Shape of datasets

In [6]:
df.shape

(10683, 11)

#### Let's grab some infomation about the datasets

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

**Observation:-** As we have seen all the datatypes has been object for the better feature engineering we'll try to perform some data cleaning task

In [19]:
### Firstly we'll start with Feature Date_of_Journey
df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'])

**Actions:-** 
* We have convert Date_of_Journey from object type to datetime format
* Now our Next steps to extract the Year , Month , Day into different Feature and we'll store into int datatypes

In [31]:
df['Year_of_Journey'] = df['Date_of_Journey'].dt.year
df['Months_of_Journey'] = df['Date_of_Journey'].dt.month
df['Day_of_Journey'] = df['Date_of_Journey'].dt.day

In [34]:
df.drop(["Date_of_Journey","Year"],axis = 1 , inplace = True)

**Till Now We Had Convert Year_of_Journey with is object type and we had convert into Datetimes and we have sptil Day , Month , Year and All the columns has been convert into int type**

In [95]:
df['Deperature_Hours'] =  df['Dep_Time'].str[0:2].astype(int)
df['Deperature_Minutes'] = df['Dep_Time'].str[3:].astype(int)

In [73]:
df.drop('Dep_Time',axis = 1 , inplace = True)

**Here we had split the Deperature_Time into two feature Deperature_Hours and Deperture_Minitues as we also convert that into int datatype.**

In [91]:
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x :x[0:5])

In [96]:
df['Arrival_Hours'] = df['Arrival_Time'].str[0:2].astype(int)
df['Arrival_Miniutes'] = df['Arrival_Time'].str[3::].astype(int)

In [100]:
df.drop('Arrival_Time',axis= 1 , inplace = True)

**Here we had split the Deperature_Time into two feature Arrival_Hours and Arrival_Minitues as we also convert that into int datatype.**

In [127]:
df['Duration']

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10683, dtype: object

In [184]:
df['Hour'] =  df['Duration'].apply(lambda x : x[0:3].replace("h","") or x[0:3].replace("m",""))

In [174]:
df.drop('Route',axis = 1 , inplace = True)

In [181]:
df.drop(6474,inplace = True)

In [187]:
df['Hour'] = df['Hour'].astype('int')

In [195]:
df.rename(columns = {'Hour':"Duration Hour"},inplace = True)

In [243]:
df['Duration Miniutes'] = df['Duration'].str.split(" ").apply(lambda x :int(x[-1].replace("m",""))  if 'm' in x[-1][-1] else 0)

In [244]:
l = []
for i in df['Duration']:
    j = i.split(" ")
    if 'm' in j[-1][-1]:
        l.append(int(j[-1].replace("m","")))
    else:
        l.append(0)
## Here I've expend the above function for better understanding

In [246]:
df.drop('Duration',axis =1 , inplace = True)

In [250]:
df.drop("Additional_Info",axis = 1 , inplace = True)

### Our Dataset Has Been Cleaned here Now We'll Move Forword to encoder technique

In [268]:
display(df['Total_Stops'].unique())
display(df['Total_Stops'].nunique())

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

5

**Observation:-** As We have observed the it's totally Categorical Variable and we'll Encode these values with Target Guided Encoder Which will be suitable Encoder Technique for **Total_Stops** Data

In [275]:
df[df['Total_Stops'].notna()]['Total_Stops'].mode()[0]

'1 stop'

**Observation:-** We have Observed that in **Total_Stops** Features  Mode Value is **1 stop**. so while Encoding whereever the values is nan we'll compute with **1 stop**

In [279]:
### Target Guided Encoder 
df['Total_Stops'].replace({"non-stop":0,"1 stop":1,"2 stops":2,"3 stops":3,"4 stops":4,np.nan:1},inplace = True)

**Observation / Action:-** We have Encode the **Total_Stops** Feature with some values

#### Now We'll Encode the Airline , Source and Destination columns using some technique

In [292]:
for i in df.columns[0:3]:
    display(f"{i} Unique Values:- {df[i].unique()}")
    print(df[i].nunique())

"Airline Unique Values:- ['IndiGo' 'Air India' 'Jet Airways' 'SpiceJet' 'Multiple carriers' 'GoAir'\n 'Vistara' 'Air Asia' 'Vistara Premium economy' 'Jet Airways Business'\n 'Multiple carriers Premium economy' 'Trujet']"

12

"Source Unique Values:- ['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']"

5

"Destination Unique Values:- ['New Delhi' 'Banglore' 'Cochin' 'Kolkata' 'Delhi' 'Hyderabad']"

6

**Observation & Action:-** Here we have observed that Airline have total 12 Unique Values and Source Having 5 and Destination having 6 Unique Values in the Feature Airline , Source and Destination so we'll compute the values with some Imputer.

The Suitable Encoder technique will be these columns is OneHotEncoder

In [293]:
from sklearn.preprocessing import OneHotEncoder

In [294]:
OHE = OneHotEncoder()
OHE

OneHotEncoder()

In [298]:
encoder = OHE.fit_transform(df[['Airline','Source','Destination']]).toarray()

In [313]:
data = pd.concat([df,pd.DataFrame(encoder,columns= OHE.get_feature_names_out())],axis = 1)

In [311]:
df.drop(df.columns[0:3],axis = 1, inplace = True)

In [314]:
data.head()

,Total_Stops,Price,Year_of_Journey,Months_of_Journey,Day_of_Journey,Deperature_Time,Deperature_Minutes,Arrival_Hours,Arrival_Miniutes,Duration Hour,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0.0,3897.0,2019.0,3.0,24.0,22.0,20.0,1.0,10.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2.0,7662.0,2019.0,5.0,1.0,5.0,50.0,13.0,15.0,7.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2.0,13882.0,2019.0,6.0,9.0,9.0,25.0,4.0,25.0,19.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,6218.0,2019.0,5.0,12.0,18.0,5.0,23.0,30.0,5.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,13302.0,2019.0,3.0,1.0,16.0,50.0,21.0,35.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [315]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10683 entries, 0 to 6474
Data columns (total 34 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Total_Stops                                10682 non-null  float64
 1   Price                                      10682 non-null  float64
 2   Year_of_Journey                            10682 non-null  float64
 3   Months_of_Journey                          10682 non-null  float64
 4   Day_of_Journey                             10682 non-null  float64
 5   Deperature_Time                            10682 non-null  float64
 6   Deperature_Minutes                         10682 non-null  float64
 7   Arrival_Hours                              10682 non-null  float64
 8   Arrival_Miniutes                           10682 non-null  float64
 9   Duration Hour                              10682 non-null  float64
 10  Duration Miniutes                          10682 non-null  float64
 11  Airline_Air Asia                           10682 non-null  float64
 12  Airline_Air India                          10682 non-null  float64
 13  Airline_GoAir                              10682 non-null  float64
 14  Airline_IndiGo                             10682 non-null  float64
 15  Airline_Jet Airways                        10682 non-null  float64
 16  Airline_Jet Airways Business               10682 non-null  float64
 17  Airline_Multiple carriers                  10682 non-null  float64
 18  Airline_Multiple carriers Premium economy  10682 non-null  float64
 19  Airline_SpiceJet                           10682 non-null  float64
 20  Airline_Trujet                             10682 non-null  float64
 21  Airline_Vistara                            10682 non-null  float64
 22  Airline_Vistara Premium economy            10682 non-null  float64
 23  Source_Banglore                            10682 non-null  float64
 24  Source_Chennai                             10682 non-null  float64
 25  Source_Delhi                               10682 non-null  float64
 26  Source_Kolkata                             10682 non-null  float64
 27  Source_Mumbai                              10682 non-null  float64
 28  Destination_Banglore                       10682 non-null  float64
 29  Destination_Cochin                         10682 non-null  float64
 30  Destination_Delhi                          10682 non-null  float64
 31  Destination_Hyderabad                      10682 non-null  float64
 32  Destination_Kolkata                        10682 non-null  float64
 33  Destination_New Delhi                      10682 non-null  float64
dtypes: float64(34)
memory usage: 2.9 MB

### Here we go 
* We have completed our Flight Price Pridication Data Cleaning and Feature Engineering Sucessfully.
* Now We can create the predictive model on that data.